APP_ENV=development
APP_PORT=8080
TIDB_DATA_SERVICE_BASE_URL=https://REGION.data.tidbcloud.com
TIDB_DATA_APP_ID=
TIDB_DATA_API_PUBLIC_KEY=
TIDB_DATA_API_PRIVATE_KEY=
TIDB_CLUSTER_ID=
TIDB_DATABASE=maz_suplementos
TIDB_CLOUD_PROFILE=default
TIDB_CLOUD_API_PUBLIC_KEY=
TIDB_CLOUD_API_PRIVATE_KEY=
TIDB_SQL_USER_PREFIX=
COOKIE_SECURE=false
SESSION_TTL_HOURS=12
